/*Change color animations*/
@keyframes changeColor{
    from{background-color: red;}
    to{background-color: yellow;}
}
.rectangle{
    width: 300px;
    height: 200px;
    background-color: red;
    animation: changeColor;
    animation-duration: 10s;
}
/*Moving animations*/
@keyframes moving{
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes moving {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
.square{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: red;
    animation: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-direction: alternate;
}
